/*.container {
    padding: 80px 120px;
    background-color: grey;
    margin: 5px 5px 5px 5px;
}

h1 {
	text-shadow: 2px 2px #ff0000;
}

h2 {
    font
    color: red;
    text-shadow: 2px 2px #ff0000;
    
}

body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}


